@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

:root {
  --bg-color: #0f0f0d;
  --primary-color: #9aa18f;
  --primary-color-dark: #5c614b;
  --primary-button-color: #5c614b;
  --second-color: #d9d9d9;
  --primary-bg-color: #9aa18f;
  --second-color-dark: #7d7a85;
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--bg-color);
  color: var(--second-color);
  font-family: "Rubik", sans-serif;
  height: 100%;
  overflow-y: hidden;
}

.wrapper {
  margin: 0 auto 0 auto;
  max-width: 1450px;
}
.nav-button {
  display: none;
}

.header-main {
  height: 90px;
  width: 60%;
  margin: 34px auto 57px auto;
  padding: 0 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--primary-bg-color);
  border-radius: 40px;

  .logo {
    display: flex;
    align-items: center;
    color: var(--second-color);
    text-decoration: none;
    svg {
      width: 50px;
      height: 50px;
    }

    h1 {
      margin-left: 20px;

      font-family: "Rubik";
      font-style: normal;
      font-weight: 700;
      font-size: 26px;
      line-height: 24px;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    ul {
      display: flex;

      li + li {
        margin-left: 56px;
      }

      li {
        list-style-type: none;

        a {
          width: 145px;
          height: 40px;
          background-color: var(--primary-button-color);
          border-radius: 40px;

          display: flex;
          justify-content: center;
          align-items: center;

          color: var(--second-color);

          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 24px;
          text-decoration: none;

          transition: background-color 0.5s;

          &:hover {
            background-color: var(--bg-color);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .header-main {
    height: 70px;
    padding: 0 15px;

    .logo {
      h1 {
        margin-left: 10px;
        font-size: 20px;
      }
    }

    nav {
      ul {
        li + li {
          margin-left: 40px;
        }

        li {
          a {
            width: 120px;
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .header-main {
    position: relative;
    margin-top: 0;
    display: block;
    width: 100%;
    padding: 0;

    margin-bottom: 30px;

    border-radius: 0;

    .logo {
      position: absolute;
      z-index: 999;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      h1 {
        margin: 0;
        padding: 0;
        font-size: 24px;
      }

      svg {
        position: absolute;
        right: 90px;
      }
    }

    nav {
      position: absolute;
      width: 100vw;
      height: 100vh;
      background-color: var(--primary-color);
      z-index: 1;
      ul {
        margin: 120px auto 0;
        display: block;
        li + li {
          margin: 100px auto 0;
        }
        li {
          a {
            width: 250px;
            height: 60px;
            font-size: 20px;
          }
        }
      }
      transition: transform 0.7s ease-in-out;
      transform: translateX(-100%);
    }

    .show {
      transform: translateX(0);
    }

    .nav-button {
      display: block;
      position: absolute;
      z-index: 999;
      width: 40px;
      height: 40px;
      left: 25px;
      top: 50%;
      transform: translateY(-50%);

      cursor: pointer;
    }
  }
}
