.hero {
  display: flex;
  justify-content: space-between;

  min-height: 550px;
  width: 70%;
  padding: 50px;
  margin: auto;

  background-color: var(--primary-bg-color);
  border-radius: 40px;

  .pic {
    min-height: 100%;
    width: 40%;
    border-radius: 40px;

    background-image: url(https://554a875a-71dc-4f5f-b6bf-ae8967f137d5.selcdn.net/thumbs2/edac144e-b6ae-11ec-b766-da4e0f91397b.800x600.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .hero-info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 50%;
    padding: 25px;
    min-height: 500px;

    background-color: var(--primary-color-dark);
    border-radius: 40px;

    header {
      position: relative;
      height: 60px;
      width: 80%;
      margin: 0 auto 50px auto;

      display: flex;
      align-items: center;

      background-color: var(--second-color);
      border-radius: 40px;

      h2 {
        color: var(--bg-color);

        margin: auto;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
      }

      &:after {
        position: absolute;
        content: "";
        top: 85px;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 1px;
        width: 110%;
        background-color: var(--bg-color);
      }
    }

    .text {
      position: relative;

      .initial {
        display: none;
      }

      .hide {
        animation: moveOut 0.5s forwards;
      }

      .show {
        animation: moveIn 0.5s forwards;
      }

      .hero-description {
        position: absolute;

        h3 {
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 24px;
          text-align: justify;
        }

        p {
          margin: 10px 0 0 0;

          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 24px;
          text-align: justify;
        }
      }

      @keyframes moveIn {
        0% {
          display: contents;
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      @keyframes moveOut {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
          display: none;
        }
      }
    }

    .menu-description {
      display: flex;
      justify-content: space-between;

      margin: auto 0 15px 0;

      .reg-button {
        color: var(--bg-color);
        background-color: var(--second-color);
        text-decoration: none;
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;

        display: flex;
        align-items: center;
        justify-content: center;

        width: 245px;
        height: 55px;
        border-radius: 40px;

        transition: background-color 0.5s;

        &:hover {
          background-color: var(--primary-color);
        }

        &:active {
          background-color: var(--second-color-dark);
        }
      }

      nav {
        display: flex;
        justify-content: space-between;
        width: 130px;

        button {
          width: 55px;
          height: 55px;
          border-radius: 50%;
          border: none;

          display: flex;
          justify-content: center;
          align-items: center;

          cursor: pointer;

          svg {
            position: relative;
            width: 16px;
            height: 28px;
          }

          transition: background-color 0.5s;

          &:hover {
            background-color: var(--primary-color);
          }
        }

        #prev_btn {
          svg {
            right: 2px;
          }

          &:disabled {
            background-color: var(--primary-color-dark);
            cursor: default;
          }
        }

        #next_btn {
          svg {
            left: 2px;
          }

          &:disabled {
            background-color: var(--primary-color-dark);
            cursor: default;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .hero {
    padding: 25px;
  }
}
